apparmor==2.13.3
appdirs==1.4.3
application-utility==1.3.1
asn1crypto==1.3.0
attrs==19.3.0
Automat==20.2.0
bauh==0.8.3
Beaker==1.11.0
btrfsutil==1.1.1
CacheControl==0.12.6
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
constantly==15.1.0
contextlib2==0.6.0
cryptography==2.8
cupshelpers==1.0
deluge==2.0.4.dev23
distlib==0.3.0
distro==1.4.0
dnspython==1.16.0
docopt==0.6.2
enum-compat==0.0.3
eventlet==0.25.1
evillimiter==1.4.0
Flask==1.1.1
Flask-Compress==1.4.0
Flask-SocketIO==4.2.1
gdbgui==0.13.2.0
GeoIP==1.3.2
gevent==1.4.0
greenlet==0.4.15
html5lib==1.0.1
hyperlink==19.0.0
idna==2.9
impacket==0.9.20
importlib-metadata==1.5.0
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
keyutils==0.6
ldap3==2.6.1
LibAppArmor==2.13.3
lockfile==0.12.2
louis==3.12.0
Mako==1.1.1
MarkupSafe==1.1.1
monotonic==1.5
more-itertools==8.2.0
msgpack==0.6.2
netaddr==0.7.19
netifaces==0.10.9
npyscreen==4.10.5
ordered-set==3.1.1
packaging==20.1
pacman-mirrors==4.16.4
pcapy==0.11.5.dev0
pep517==0.8.1
Pillow==6.2.1
pluginbase==1.0.0
ply==3.11
progress==1.5
pwquality==1.4.2
pyaml==19.12.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.19.1
pycparser==2.19
pycryptodome==3.9.7
pycryptodomex==3.9.0
pycups==1.9.74
pycurl==7.43.0.5
pygdbmi==0.9.0.3
Pygments==2.5.2
PyGObject==3.34.0
PyHamcrest==1.9.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypugjs==5.8.1
PyQt5==5.14.1
PyQt5-sip==12.7.1
pysmbc==1.0.18
python-engineio==3.11.2
python-libtorrent==1.2.4
python-socketio==4.4.0
pytoml==0.1.21
pyxdg==0.26
PyYAML==5.3
rencode==1.0.6
reportlab==3.5.34
requests==2.23.0
retrying==1.3.3
scapy===git-archive.dev304758016
service-identity==18.1.0
setproctitle==1.1.10
sip==4.19.21
six==1.14.0
team==1.0
terminaltables==3.1.0
toml==0.10.0
tqdm==4.43.0
Twisted==19.10.0
udiskie==2.1.0
urllib3==1.25.8
vboxapi==1.0
wafw00f==2.0.0
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.0
zipp==3.0.0
zope.interface==4.7.1
